body {
     background-color: rgb(17, 207, 131);
     color:rgb(210, 2, 2)
}

h2 {
    color: black;

}
h2 {
    color: blue;
}
h2 {
    color: rgb(1, 19, 13);
    
}
h3{
    color: rgb(236, 189, 189);
}
h4{
    color: green;
}
h5{
    color: yellow;
}